---
import Layout from "../layouts/Layout.astro"
import EncounterCard from "../components/EncounterCard"
---

<Layout title="Card Development">
  <div class="container m-auto">
    <div class="flex flex-col items-center justify-center p-20">
      <EncounterCard />
    </div>
  </div>
</Layout>
